<div class="container" ng-controller="CourseController">
    <h2> Course name : - kurssin mini ?</h2>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="#" onclick="return false;">Home</a></li>
                <li role="presentation"><a href="#/courses" onclick="return false;">Profile</a></li>
                <li role="presentation"><a href="#" onclick="return false;">Messages</a></li>
            </ul>
        </div>
    </div>
</div>