<div ng-controller="RegisterController">
    <h5> Register please </h5>
    <div class="row">
        <p> Register as : 
        <label for="type">
            <input type="radio" name="type" ng-model="type" value="teacher">
            Teacher
        </label>
        <label for="type">
            <input type="radio" name="type" ng-model="type" value="student">
            Student
        </label>
        </p>
    </div>
    <form novalidate ng-if="type== 'teacher'" class="simple-form">
        First Name: <input type="text" ng-model="teacherModel.firstname" /><br />
        Last Name: <input type="text" ng-model="teacherModel.lastname" /><br />
        Username: <input type="text" ng-model="teacherModel.username" /><br />        
        E-mail: <input type="email" ng-model="teacherModel.email" /><br />
        Password: <input type="password" ng-model="teacherModel.password" /><br />
        Password 2 : <input type="password" ng-model="teacherModel.password2" /><br />
        
        Title: <input type="text" ng-model="teacherModel.title" /><br />
        Location: <input type="text" ng-model="teacherModel.location" /><br />
        Experience: <input type="text" ng-model="teacherModel.experience" /><br />
        Summary: <input type="text" ng-model="teacherModel.summary" /><br />
        <!--<input type="button" ng-click="reset()" value="Reset" />-->
        <input type="submit" ng-click="register(teacherModel)" value="Save" />
    </form>

    <form name="studentModel" ng-model="studentModel" ng-if="type =='student'" ng-submit="register()">
        <button class="btn" type="submit" ng-disabled="!studentModel.$valid">Submit2</button>
    </form>
</div>