<div class="container" ng-controller="TeacherController">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h3>{{ currentTeacher.info.firstname }} + {{ currentTeacher.info.lastname }} </h3>
            </div>
            <div class="row">
                <h5> Profile picture </h5>
            </div>
            <div class="row">
                <h5> Action buttons<h5>
                <img width="200px" height="200px" alt="Someone picture" />
                <div class="col-md-12">
                    <button  class="btn btn-md btn-success">Like</button>
                    <button class="btn btn-md btn-danger">Dislike</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h3> Teacher detail </h3>
                <div class="col-md-12">
                    <div class="row">
                        <h5> Teacher Experience </h5>
                        <p> {{ currentTeacher.info.experience }} </p>
                    </div>
                    <div class="row">
                        <h5> Teacher Summary </h5>
                        <p> {{ currentTeacher.info.summary }} </p>
                    </div>
                    <div class="row">
                        <h5> Courses </h5>
                        <ul style="color:red;" class="list-group">
                            <li  ng-repeat="course in currentTeacher.info.courses" class="list-group-item">
                                {{ course.courseId }} - {{ course.courseName }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>