/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*Main application CSS */

body {
  height: 100vh;
  width: 100%;
  background-color: lightgrey !important;
}

#apparea {
  height: inherit;
}

.form-signin {
  max-width: 400px;
  padding:20px;
  margin: 0 auto;
}