/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*Main application CSS */

html,
body {

  color: white !important; 
  /*height: 100vh;*/
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 25px !important;
  background: -webkit-linear-gradient(#0D374A,#06B4C5,#06C2BC, #04EA8D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0D374A,#06B4C5,#06C2BC, #04EA8D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0D374A,#06B4C5,#06C2BC, #04EA8D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0D374A,#06B4C5,#06C2BC, #04EA8D) fixed; /* Standard syntax */
  background-repeat: no-repeat;
}

img {
  border-radius: 10px;
}

#apparea {
  top:50px;
  height: inherit;
}

.form-signin {
  max-width: 600px;
  padding:20px;
  margin: 250px auto auto auto;
}

.form-signin-heading {
  text-align: center;
  vertical-align: top;
}
