<body ng-app="myApp" ng-controller="MyAppController">
  <div id="apparea" class="container">
      <form class="form-signin">
          <h2 class="form-signin-heading">Eduma ( Nam ? )</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <button class="btn btn-lg btn-danger btn-block" type="button">Sign in with Google</button> 
        </form>
  </div>
</body>
